.inner {
    max-width: 1410px;
    margin: 0 auto;
}

.default {
    padding: 120px 0;
}

.default .title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 8px;
}

.default .title h3 {
    font-size: 30px;
    font-weight: 700;
}


.default .title p {
    margin-top: 32px;
    font-size: 15px;
    font-weight: 400;
}

.default_btn {
    background: var(--Main-color);
    color: #fff;
    padding: 16px 48px;
    border-radius: 28px;
}

.flx {
    display: flex;
    gap: 30px;
}

.flx>* {
    flex: 1;
}


.wheel {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: nowrap;
    color: #ed1c24;
}

.wheel::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 4px;
    height: 4px;
    background: #e0462e;
    border-radius: 50%;
    animation: scroll 2s infinite;
}

.wheel::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 16px;
    width: 1px;
    height: 80px;
    background: linear-gradient(to top, #ed1c24, #e0462e);
    opacity: 0.5;
}

@keyframes scroll {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 80px);
    }

    100% {
        transform: translate(-50%, 80px) scale(12);
        opacity: 0.1;
    }
}

@media (max-width:1442px) {
    .default {
        margin: 0 16px;
    }
}